
	body
	{
		background-clip: url("AntiqueSimplisticFruitbat-mobile.mp4")
			table
	{
		background-color: black;
		border-color: blue;
	
		font: white;
		position: absolute;
		left: 80%;
		top: 30%;
		/*margin-left: 150px;
		margin-top: 250px;*/
	}
	#d1
	{
		
		float: left;
		width: 50%;
		height: 695px;
		font: white;
	}
	#d2
	{
		float: left;
		text-align: center;
		font: white;
	}

